body{
    margin: 0;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Z3JhZGllbnR8ZW58MHwwfDB8fHww&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    
}

.clock{
    display: flex;

}
.clock div{
    margin: 10px;
    position: relative;
}

.clock span{
    height: 80px;
    width: 80px;
    background-color: yellowgreen;
    opacity: .8;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0,0,0, .3);

}

.clock .text{
    height: 25px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: aquamarine;
    opacity: .8;

}

.clock #ampm{
    bottom: 0;
    position: absolute;
    height: 20px;
    width: 30px;
    font-size: 20px;
}